body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: #F9F9FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  width: 100%;
  position: relative;
  background: whitesmoke;
  overflow: hidden;
}
.particles {
  position: fixed;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  vertical-align: bottom;
}
.fadeIn {
  display: none;
  color: #dadada;
  font-weight: 100;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(circle, #0F3B69 0%, #0F121A 100%);
  background-image: radial-gradient(circle, #0F3B69 0%, #0F121A 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.container {
  max-width: 1000px;
  margin: auto;
  height: 100%;
  position: relative;
  padding: 0px 40px;
  border: 1px solid rgba(255, 0, 0, 0);
}
.right {
  float: right;
  right: 0;
}
@-webkit-keyframes SlideInDown {
  0% {
    -webkit-transform: translate3d(0px, 20px, 0px);
            transform: translate3d(0px, 20px, 0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.header .logo {
  width: 160px;
  height: 42px;
  background: url('/files/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
  -webkit-animation: SlideInDown 1s;
          animation: SlideInDown 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.header a {
  display: block;
  float: right;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 16px;
}
#intro {
  height: 100vh;
}
#intro .intro {
  margin-top: 35vh;
  max-width: 630px;
}
#intro .intro h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 71px;
  color: white;
  display: inline;
  white-space: pre-wrap;
  margin-bottom: 0px;
  background: rgba(1, 5, 35, 0.55);
  padding: 4px 0px;
  -webkit-animation: SlideInDown 1s;
          animation: SlideInDown 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#intro .intro p {
  font-size: 23px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: 100;
  background: rgba(1, 5, 35, 0.55);
  display: inline;
  white-space: pre-wrap;
  border: 10px solid rgba(1, 5, 35, 0);
  color: rgba(255, 255, 255, 0.68);
  -webkit-animation: SlideInDown 1s;
          animation: SlideInDown 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#features {
  height: 850px;
  padding-top: 50px;
}
#features .container {
  height: auto;
  margin-bottom: 60px;
}
#features h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 17px;
  font-weight: 100;
}
#features p {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  color: #49494A;
}
#features .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}
#features .flex-container .feature {
  width: 28%;
  min-width: 240px;
  text-align: center;
}
#features .flex-container .feature img {
  width: 250px;
}
#features .flex-container .feature h3 {
  margin-top: 34px;
  margin-bottom: 10px;
  font-size: 25px;
}
#features .flex-container .feature p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.8;
}
#products .products-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
#products .products-bg.bg-green {
  background: -webkit-linear-gradient(225deg, #10B151 0%, #006C72 99%);
  background: linear-gradient(-135deg, #10B151 0%, #006C72 99%);
}
#products .products-bg.bg-purple {
  background: -webkit-linear-gradient(213deg, #022035 0%, #6F2F61 99%);
  background: linear-gradient(-123deg, #022035 0%, #6F2F61 99%);
}
#products .products-bg.bg-orange {
  background: -webkit-linear-gradient(219deg, #C3EF16 0%, #F37A24 99%);
  background: linear-gradient(-129deg, #C3EF16 0%, #F37A24 99%);
}
#products h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
  margin-top: 10vh;
}
#products p {
  color: white;
  font-size: 20px;
  opacity: 0.7;
  margin-top: 0px;
}
#products .product {
  height: 100vh;
  min-height: 700px;
  position: relative;
}
#products #edulastic,
#products #glider,
#products #spaces {
  margin-bottom: 200px;
}
#products .button {
  color: white;
  width: 150px;
  border-radius: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid white;
}
#products .product-text {
  width: 350px;
  margin-top: 26vh;
}
#products .product-text ul {
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  list-style: none;
  padding-left: 5px;
  line-height: 36px;
}
#products .product-text ul li {
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  display: block;
}
#products .product-text ul li::before {
  content: "";
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 12px;
  margin-right: 10px;
  border-radius: 30px;
  border: 1px solid white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
#products .product-text ul li.active {
  opacity: 1;
}
#products .product-text ul li.active::before {
  background: white;
}
#products .product-text p {
  color: white;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
#products .product-text .wrapper {
  width: 350px;
  overflow: hidden;
  border-left: 2px solid rgba(255, 255, 255, 0.31);
  margin-bottom: 30px;
}
#products .product-text .wrapper .text-slider {
  width: 1200px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
  transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
}
#products .product-text .wrapper .text-slider p {
  display: block;
  max-width: 320px;
  float: left;
  margin-right: 40px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin: 0 10px;
  color: white;
  padding-left: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.product-slider {
  top: 30vh;
  position: absolute;
  left: 360px;
  background: url("/files/laptop-full.png") no-repeat;
  background-size: 100%;
  width: 1060px;
  height: 580px;
  z-index: 0;
  pointer-events: none;
}
.product-slider.left {
  right: 350px;
  left: auto;
}
.product-slider .wrapper {
  height: 430px;
  width: 734px;
  position: absolute;
  top: 70px;
  left: 165px;
  overflow: hidden;
}
.product-slider .wrapper .slide-container {
  width: 3000px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
  transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
  height: 415px;
  float: left;
}
.product-slider .wrapper .slide-container .slide {
  display: block;
  float: left;
  margin-right: 40px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.product-slider .wrapper .slide-container .slide img {
  height: 430px;
  width: 735px;
}
#edulastic.stage1 .text-slider {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}
#edulastic.stage1 .slide-container {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}
#edulastic.stage1 .first {
  opacity: 1;
}
#edulastic.stage1 .second {
  opacity: 0;
}
#edulastic.stage1 .third {
  opacity: 0;
}
#edulastic.stage2 .text-slider {
  -webkit-transform: translateX(-350px) !important;
          transform: translateX(-350px) !important;
}
#edulastic.stage2 .slide-container {
  -webkit-transform: translateX(-750px) !important;
          transform: translateX(-750px) !important;
}
#edulastic.stage2 .first {
  opacity: 0;
}
#edulastic.stage2 .second {
  opacity: 1;
}
#edulastic.stage2 .third {
  opacity: 0;
}
#edulastic.stage3 .text-slider {
  -webkit-transform: translateX(-700px) !important;
          transform: translateX(-700px) !important;
}
#edulastic.stage3 .slide-container {
  -webkit-transform: translateX(-1500px) !important;
          transform: translateX(-1500px) !important;
}
#edulastic.stage3 .first {
  opacity: 0;
}
#edulastic.stage3 .second {
  opacity: 0;
}
#edulastic.stage3 .third {
  opacity: 1;
}
#glider .product-slider {
  background: none;
  top: 0vh;
}
#glider .product-slider .wrapper {
  height: auto;
  width: auto;
}
#glider .product-slider .slide-container {
  height: auto;
}
#glider .product-slider img {
  width: auto;
  height: 800px;
}
#team .container {
  height: auto;
  margin-bottom: 60px;
}
#team h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
}
#team p {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  color: #49494A;
}
#team .flex-team {
  display: block;
}
#team .flex-team .member,
#team .flex-team .join {
  width: 20%;
  position: relative;
  overflow: hidden;
  float: left;
}
#team .flex-team .join img {
  width: 100%;
  height: auto;
}
#team .flex-team .join a {
  color: white;
  font-weight: 600;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}
#team .flex-team .member img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: saturate(0%);
}
#team .flex-team .member:hover .member-hover {
  opacity: 1;
}
#team .flex-team .member:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: saturate(100%);
}
#team .flex-team .member .member-hover {
  position: absolute;
  width: 100%;
  height: 100px;
  /* border: 1px solid yellow; */
  z-index: 3;
  background-color: rgba(234, 67, 54, 0.5);
  bottom: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#team .flex-team .member .member-hover .top {
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
  padding: 10px;
}
#team .flex-team .member .member-hover .top p {
  color: white;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}
#team .flex-team .member .member-hover .bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-sizing: border-box;
  padding: 10px;
}
#team .flex-team .member .member-hover .bottom h3 {
  font-size: 28px;
  color: white;
  margin-bottom: 5px;
  line-height: 0.9;
}
#team .flex-team .member .member-hover .bottom p {
  font-weight: 400;
  color: white;
  text-align: left;
  font-size: 16px;
}
#team .flex-team .member .member-hover .member-info {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: aqua;
  right: 20px;
  top: 20px;
}
#partners .container {
  height: auto;
}
#partners h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
}
#partners p {
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  color: #49494A;
}
#partners hr {
  width: 65%;
  margin: 20px auto 60px;
  border: 0;
  border-top: 1px solid #E6E6E6;
}
#partners .testimonial {
  min-height: 100px;
  display: block;
  margin-bottom: 40px;
}
#partners .testimonial .face {
  height: 100;
  width: 100px;
  display: block;
  float: left;
}
#partners .testimonial .face img {
  width: 100px;
}
#partners .testimonial .quote {
  display: block;
  float: left;
  max-width: 80%;
  margin-left: 44px;
  margin-top: 9px;
}
#partners .testimonial .quote p.partner {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
}
#partners .testimonial .quote p.partner span {
  font-size: 14px;
  font-weight: 400;
  color: #504E4E;
}
#partners .partner-logos {
  min-height: 100px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
#partners .partner-logos .column {
  position: relative;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
  box-sizing: border-box;
}
#partners .partner-logos .column.first {
  text-align: left;
}
#partners .partner-logos .column.first img {
  margin-top: 5px;
}
#partners .partner-logos .column.second img {
  max-height: 100px;
}
#partners .partner-logos .column.third img {
  margin-top: 5px;
}
#partners .partner-logos .column.fourth {
  text-align: right;
}
#partners .partner-logos .column.fourth img {
  height: 100px;
}
#partners .partner-logos .column img {
  max-width: 100%;
  height: auto;
}
#footer {
  background-color: #EA4336;
}
#footer .container {
  height: auto;
}
#footer .container h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 60px;
  color: white;
}
#footer .container h3 {
  color: white;
  font-size: 30px;
  display: block;
  width: auto;
  float: left;
  margin-top: auto;
  margin-right: 40px;
}
#footer .container form,
#footer .container .contact-details {
  width: 50%;
  display: block;
  float: left;
  box-sizing: border-box;
}
#footer .container form {
  padding-right: 40px;
  border-right: 1px solid #C3362B;
}
#footer .container form .top-row .office {
  height: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
#footer .container form .top-row .office select {
  display: block;
  height: 34px;
  border: 2px solid #fff;
  color: #fff;
  background: 0 0;
  font-size: 16px;
  float: right;
  font-weight: 600;
}
#footer .container form .input-row {
  display: inline-block;
  width: 100%;
}
#footer .container form .input-row .name,
#footer .container form .input-row .email {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
#footer .container form .input-row .name input,
#footer .container form .input-row .email input {
  height: 34px;
  font-size: 14px;
  padding-left: 15px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}
#footer .container form .input-row .name {
  padding-right: 10px;
}
#footer .container form .input-row .email {
  padding-left: 10px;
}
#footer .container form .message {
  display: block;
  box-sizing: border-box;
  padding-top: 20px;
  margin-bottom: 30px;
}
#footer .container form .message textarea {
  width: 100%;
  height: 100px;
  padding-left: 15px;
  padding-top: 7px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}
#footer .container form button {
  border: 2px solid #fff;
  color: #fff;
  background: 0 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  float: right;
  padding: 6px 34px;
}
#footer .container .contact-details {
  padding-left: 40px;
}
#footer .container .contact-details h3 {
  width: 100%;
}
#footer .container .contact-details h4 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin: auto;
  margin-bottom: 10px;
}
#footer .container .contact-details a {
  color: #6D1D17;
  font-size: 14px;
}
#footer .container .contact-details a.address {
  text-decoration: none;
}
#footer .container .contact-details p {
  color: #6D1D17;
  font-size: 14px;
  margin: auto;
}
#footer .container .contact-details p.title {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #84231B;
}
#footer .container .contact-details p.title.small {
  font-size: 16px;
  margin-top: 20px;
}
#footer .container .contact-details .us,
#footer .container .contact-details .india {
  box-sizing: border-box;
  float: left;
}
#footer .container .contact-details .us {
  width: 40%;
  padding-right: 15px;
}
#footer .container .contact-details .india {
  width: 60%;
  padding-left: 15px;
}
#footer .container .copyright {
  width: auto;
  display: block;
  float: right;
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #84231B;
}
#footer .container .copyright p {
  margin: auto;
}
#footer .container .social {
  width: auto;
  display: block;
  float: left;
  margin-top: 60px;
  margin-bottom: 10px;
}
#footer .container .social a {
  display: block;
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
#footer .container .social a.fb {
  background: url("../files/facebook.svg") no-repeat;
  background-size: 15px 15px;
}
#footer .container .social a.tw {
  background: url("../files/twitter.svg") no-repeat;
  background-size: 16px 16px;
  margin-right: 7px;
}
#footer .container .social a.in {
  background: url("../files/linkedin.svg") no-repeat;
  background-size: 15px 15px;
}
@media screen and (max-width: 930px) {
  .product-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 10vh !important;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #team .flex-team .member {
    width: 33.3333%;
  }
  .product-text {
    margin-top: 60vh !important;
  }
}
