body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #F9F9FF;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section{
  width:100%;
  position: relative;
  background: whitesmoke;
  overflow: hidden;
}

@import "particles.less";

.container{
  max-width: 1000px;
  min-width: 700px;
  margin: auto;
  height: 100%;
  position: relative;
  padding: 0px 40px;
  border: 1px solid rgba(255, 0, 0, 0);

}
.right{
  float:right;
  right:0;
}

@-webkit-keyframes SlideInDown {
  0% {
    transform: translate3d(0px, 20px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.header{
  position: absolute;
  width:100%;
  z-index: 100;
  .logo{
    width: 160px;
    height: 42px;
    background: url('../files/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 30px;
    animation: SlideInDown 1s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
  }
  a{
    display:block;
    float:right;
    margin: 40px 40px;
    text-decoration: none;
    border: none;
    padding: 4px 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
    font-weight: 400;
    font-size: 14px;
    transition: border .2s ease-in-out;
    &:hover{
      border: 1px solid white;
    }
  }
}
#intro{
  height: 100vh;
  //height: calc(~"100vh - 80px");
  .fadeIn{
    opacity: 0.8;
  }
  .beta,.log{
    font-size: 16px;
  }
  .square,.brakets,.var,.sin,.cos,.elem,{
    font-size: 20px;
  }
  .script,.w,.j{
    font-size: 42px;
  }
  .chemo,.i,.l{
    font-size: 50px;
  }
  .clmn,.epsi,.d{
    font-size: 14px;
  }
  .f,.formula{
    font-size: 62px;
  }
  .percent,.pi,.plus,.minus,.lamb,.om{
    font-size: 12px;
  }

  .intro{
    margin-top: 35vh;
    max-width: 630px;
    h1{
      font-size: 55px;
      font-weight: 900;
      line-height: 71px;
      color:white;
      display: inline;
      white-space: pre-wrap;
      margin-bottom: 0px;
      background: rgb(1, 5, 35);
      padding: 4px 0px;
      animation: SlideInDown 1s;
      animation-delay: 0.2s;
      animation-fill-mode: both;
    }
    p{
      font-size: 23px;
      line-height: 45px;
      letter-spacing: 0.5px;
      font-weight: 100;
      background: rgb(1, 5, 35);
      display: inline;
      white-space: pre-wrap;
      border: 10px solid rgba(1, 5, 35, 0);
      color: rgba(255, 255, 255, 0.68);
      animation: SlideInDown 1s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }
  }
}
#features{
  //height: 850px;
  padding-top: 25px;
  .container{
    height:auto;
    //margin-bottom: 70px;
  }
  h2{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-weight: 100;
  }
  p{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .features{
    min-width: 700px;
    height: 400px;
    padding-top: 60px;
    .feature{
      width:33.333%;
      min-width: 230px;
      float: left;
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
      img{
        width: 170px;
      }
      h3{
        margin-top: 38px;
        margin-bottom: 8px;
        font-size: 18px;
      }
      p{
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.3px;
        line-height: 1.3;
        //opacity: 0.8;
      }
    }
  }
}
#products{
  .products-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    &.bg-green{
      background:
        // url("/files/pattern1.png"),
        //linear-gradient(-123deg, #006C72 0%, #04ED61 99%);
        linear-gradient(-135deg, #10B151 0%, #006C72 99%);
    }
    &.bg-purple{
      background:
      // url("/files/pattern3.png"),
      //linear-gradient(-123deg, #043261 0%, #00B4F9 99%);
      linear-gradient(-123deg, #022035 0%, #6F2F61 99%);
    }
    &.bg-orange{
      background:
      // url("/files/pattern2.png"),
      //linear-gradient(-123deg, #D85609 0%, #93B702 99%);
      linear-gradient(-129deg, #C3EF16 0%, #F37A24 99%);
    }
  }

  h2{
    font-size: 40px;
    color:white;
    margin-bottom: 0px;
    margin-top: 10vh;
  }

  p{
    color: white;
    font-size: 20px;
    opacity: 0.7;
    margin-top: 0px;
  }

  .product{
    height: 900px;
    //min-height: 700px;
    position: relative;
  }

  #edulastic, #glider, #spaces{
    //margin-bottom: 200px;
    height: 900px;
  }
  .button{
    color: white;
    width: 150px;
    display:block;
    border-radius: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    &:hover{
      background-color: #f2f2f2;
      color: rgb(4, 82, 44);
    }
  }

  .product-text{
    width: 350px;
    margin-top: 195px;
    ul{
      color: white;
      font-size: 18px;
      letter-spacing: 0.5px;
      list-style: none;
      padding-left: 5px;
      line-height: 20px;

      li{
        opacity: 0.5;
        transition: 0.3s ease;
        cursor: pointer;
        display: block;

        // &::before{
        //   content: "";
        //   float: left;
        //   width: 10px;
        //   height: 10px;
        //   margin-top: 12px;
        //   margin-right: 10px;
        //   border-radius: 30px;
        //   border: 1px solid white;
        //   transition: 0.5s ease;
        // }
      }
      li.active{
        opacity: 1;

        &::before{
          background: white;
        }
      }
    }
    p{
      color: white;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
    }
    .wrapper{
      width: 350px;
      overflow: hidden;
      margin-bottom: 30px;
      .text-slider{
        width: 1200px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        p{
          border-left: 2px solid rgba(255, 255, 255, 0.31);
          display: block;
          max-width: 320px;
          float: left;
          margin-right: 40px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.5px;
          font-weight: 400;
          margin: 0 7px;
          color: white;
          padding-left: 15px;
          transition: 0.5s ease;
        }
        }
      }
    }
  }
  .product-slider{
    top: 230px;
    position: absolute;
    left: 410px;
    background: url("../files/laptop-full.png") no-repeat;
    background-size: 100%;
    width: 1060px;
    height: 580px;
    z-index: 0;
    pointer-events: none;
    &.left{
      right: 380px;
      left: auto;
    }
    .wrapper{
      height: 430px;
      width: 736px;
      position: absolute;
      top: 70px;
      left: 165px;
      overflow: hidden;
      .slide-container{
        width: 3000px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        //height: 415px;
        float: left;
        .slide{
          display: block;
          float: left;
          margin-right: 15px;
          transition: 0.5s ease;
          img{
            height: 430px;
            width: 735px;
          }
        }
      }
    }
  }

#edulastic.stage1{
  .text-slider{transform: translateX(0px) !important;}
  .slide-container{transform: translateX(0px) !important;}
  .first{opacity: 1;}
  .second{opacity: 0;}
  .third{opacity: 0;}
}
#edulastic.stage2{
  .text-slider{transform: translateX(-350px) !important;}
  .slide-container{transform: translateX(-750px) !important;}
  .first{opacity: 0;}
  .second{opacity: 1;}
  .third{opacity: 0;}
}
#edulastic.stage3{
  .text-slider{transform: translateX(-700px) !important;}
  .slide-container{transform: translateX(-1500px) !important;}
  .first{opacity: 0;}
  .second{opacity: 0;}
  .third{opacity: 1;}
}

#glider.stage1{
  .text-slider{transform: translateX(0px) !important;}
  .slide-container{transform: translateX(0px) !important;}
  .first{opacity: 1;}
  .second{opacity: 0;}
  .third{opacity: 0;}
}
#glider.stage2{
  .text-slider{transform: translateX(-350px) !important;}
  .slide-container{transform: translateX(-750px) !important;}
  .first{opacity: 0;}
  .second{opacity: 1;}
  .third{opacity: 0;}
}
#glider.stage3{
  .text-slider{transform: translateX(-700px) !important;}
  .slide-container{transform: translateX(-1500px) !important;}
  .first{opacity: 0;}
  .second{opacity: 0;}
  .third{opacity: 1;}
}

#spaces.stage1{
  .text-slider{transform: translateX(0px) !important;}
  .slide-container{transform: translateX(0px) !important;}
  .first{opacity: 1;}
  .second{opacity: 0;}
  .third{opacity: 0;}
}
#spaces.stage2{
  .text-slider{transform: translateX(-350px) !important;}
  .slide-container{transform: translateX(-750px) !important;}
  .first{opacity: 0;}
  .second{opacity: 1;}
  .third{opacity: 0;}
}
#spaces.stage3{
  .text-slider{transform: translateX(-700px) !important;}
  .slide-container{transform: translateX(-1500px) !important;}
  .first{opacity: 0;}
  .second{opacity: 0;}
  .third{opacity: 1;}
}
#spaces{
  .product-text{
    margin-top: 50px;
  }
  .product-slider{
    top: auto;
    bottom: 230px;
  }
}
#glider{
  margin-bottom: 0px !important;
  .product-text{
    margin-top: 250px;
  }
  .product-slider{
    background: none;
    top: 95px;

    .slide{
      width: 700px;
      &.third{
        img{
          margin-right: 80px;
          height:110%;
        }
      }
    }

    .wrapper{
      height: 100%;
      overflow: visible;
      left: -50px;
    }
    img{
      height: 100%;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

#team{
  //height: 750px;
  .container{
    height:auto;
    margin-bottom: 90px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 110px;
    margin-bottom: 30px;
  }
  p{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .flex-team{
    display: block;
    //flex-flow: row wrap;
    .member,.join{
      width: 20%;
      position: relative;
      overflow: hidden;
      float: left;
    }
    .join{
      &:hover{
        //cursor: pointer;
        img{
          filter:brightness(90%);
        }
        span{
          font-size: 21px;
          transition: 0.4s ease;
        }
      }
      img{
        width:100%;
        height:auto;
      }
      span{
        color: white;
        font-weight: 600;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 20px;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    .member{
      img{
        width:100%;
        height:auto;
        transition: 0.3s ease;
        -webkit-filter: saturate(0%);
      }

      &:hover{
        .member-hover{
          opacity: 1;
        }

        img{
          transform: scale(1.1);
          -webkit-filter: saturate(100%);
        }
      }
      .member-hover{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.67);
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: 0.3s ease;

        .detail-desc{
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 15px;
          border: 4px solid #da4e44;
        }

        &.show-description{
          background-color: #fff;
          *{
            display: none;
          }
          .detail-desc,.detail-desc p{
            display: block;
            font-size: 13px;
            font-weight: 400;
            text-align: left;
            line-height: 1.3;
          }

          .member-info{
            background-image: url('../files/left-arrow.svg') ;
            top: auto;
            cursor: pointer;
            display: block;
            position: absolute;
            height: 15px;
            z-index: 10;
            width: 15px;
            background-size: 15px 15px;
            right: 14px;
            bottom: 12px;
          }
        }

        .member-social{
          position: absolute;
          box-sizing: border-box;
          top: 14px;
          left: 10px;
          padding: 10px;
          a{
            display: block;
            float:left;
            margin-right: 5px;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            &.hidden{
              display:none;
            }
          }
          a.fb{
            background: url("../files/facebook.svg") no-repeat;
            background-size: 15px 15px;
          }
          a.tw{
            background: url("../files/twitter.svg") no-repeat;
            background-size: 16px 16px;
            margin-right: 7px;
          }
          a.in{
            background: url("../files/linkedin.svg") no-repeat;
            background-size: 15px 15px;
          }
          a.mail{
            background: url("../files/email.svg") no-repeat;
            background-size: 20px 20px;
            //margin-top: 1px;
          }
        }
        .bottom{
          position: absolute;
          bottom: 10px;
          left: 10px;
          box-sizing: border-box;
          padding: 10px;
          h3{
            font-size: 25px;
            color: white;
            margin-bottom: 5px;
            line-height: 0.9;
          }
          p{
            color: white;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            opacity: 0.7;
          }
        }
        .member-info{
          display: block;
          position: absolute;
          height: 25px;
          width: 25px;
          background: url("../files/plus.svg") no-repeat;
          background-size: 25px 25px;
          right: 20px;
          top: 20px;
        }
      }
    }
  }
}
#partners{
  .container{
    height:auto;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  p{
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  hr{
    width: 65%;
    margin: 20px auto 60px;
    border: 0;
    border-top: 1px solid #E6E6E6;
  }
  .testimonial{
    min-height: 100px;
    display: block;
    margin-bottom: 40px;
    .face{
      height: 100;
      width: 100px;
      display: block;
      float: left;
      img{
        width: 100px;
      }
    }
    .quote{
      display: block;
      float: left;
      max-width: 80%;
      margin-left: 44px;
      margin-top: 9px;
      .face-mobile{
        display:none;
      }
      p.partner{
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        margin-top: 10px;
        span{
          font-size: 14px;
          font-weight: 400;
          color: #504E4E;
        }
      }
    }
  }
  .partner-logos{
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 80px;

    .column{
      position: relative;
      text-align: center;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 25%;
      box-sizing: border-box;
      opacity: 0.3;
      &.first{
        text-align: left;
        img{
          margin-top: 5px;
        }
      }
      &.second{
        img{
          max-height:90px;
        }
      }
      &.third{
        img{
          margin-top: 5px;
        }
      }
      &.fourth{
        text-align: right;
        img{
          max-height:90px;
          padding-right: 30px;
          }
      }
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}
#footer{
  background-color: #15171E;
  .container{
    height:auto;
    h2{
      text-align: center;
      font-size: 50px;
      margin-top: 80px;
      margin-bottom: 60px;
      color:white;
    }
    h3{
      color: white;
      font-size: 30px;
      display: block;
      width: auto;
      float: left;
      margin-top: auto;
      margin-right: 40px;
      font-weight: 100;
    }
    form, .contact-details{
      width: 50%;
      display: block;
      float: left;
      box-sizing: border-box;
    }
    form{
      padding-right: 40px;
      border-right: 1px solid #2F3342;
      .top-row{
        .office{
          height: 40px;
          margin-bottom: 20px;
          box-sizing: border-box;
          select{
            display: block;
            height: 34px;
            border: 1px solid rgba(255, 255, 255, 0.19);
            color: #fff;
            background: 0 0;
            font-size: 16px;
            float:right;
            font-weight: 600;
          }
        }
      }
      .input-row{
        display: inline-block;
        width:100%;
        .name, .email{
          display: block;
          float: left;
          width: 50%;
          box-sizing: border-box;
          input{
            height: 34px;
            font-size: 14px;
            padding-left: 15px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 6px;
            outline: none;
            width: 100%;
          }
        }
        .name{
          padding-right: 10px;
        }
        .email{
          padding-left: 10px;
        }
      }
      .message{
        display: block;
        box-sizing: border-box;
        padding-top: 20px;
        margin-bottom: 30px;
        textarea{
          width: 100%;
          outline:none;
          height: 100px;
          padding-left: 15px;
          padding-top: 7px;
          font-size: 14px;
          color: #555;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 6px;
        }
      }
      button{
        border: 2px solid #fff;
        color: #fff;
        background: 0 0;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border-radius: 6px;
        float:right;
        padding: 6px 34px;
      }
    }
    .contact-details{
      padding-left: 40px;
      h3{
        width:100%;
        font-weight: 100;
      }
      h4{
        color:white;
        font-size: 22px;
        font-weight: 600;
        margin:auto;
        margin-bottom: 10px;
      }
      a{
        color: #FFFFFF;
        font-size: 14px;
        &.address{
          text-decoration: none;
        }
      }
      p{
        color: rgba(255, 255, 255, 0.24);
        font-size: 14px;
        margin: auto;
      }
      p.title{
        margin: auto;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        color: rgba(255, 255, 255, 0.24);
        &.small{
          font-size: 16px;
          margin-top: 20px;
        }
      }
      .us, .india{
        box-sizing: border-box;
        float: left;
      }
      .us{
        width:40%;
        padding-right: 15px;
      }
      .india{
        width: 60%;
        padding-left: 15px;
      }
    }
    .copyright{
      width: auto;
      display: block;
      float: right;
      font-size: 12px;
      margin-top: 60px;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.24);
      p{
        margin:auto;
      }
    }
    .social{
      width: auto;
      display: block;
      float: left;
      margin-top: 53px;
      margin-bottom: 10px;
      a{
        display: block;
        float:left;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
      }
      a.fb{
        background: url("../files/facebook.svg") no-repeat;
        background-size: 20px 20px;
        &:hover{
          background: url("../files/facebook_color.svg") no-repeat;
          background-size: 20px 20px;
          transition: background 0.2s ease;
        }
      }
      a.tw{
        background: url("../files/twitter.svg") no-repeat;
        background-size: 21px 21px;
        margin-right: 12px;
        &:hover{
          background: url("../files/twitter_color.svg") no-repeat;
          background-size: 21px 21px;
          margin-right: 12px;
          transition: background 0.2s ease;
        }
      }
      a.in{
        background: url("../files/linkedin.svg") no-repeat;
        background-size: 20px 20px;
        &:hover{
          background: url("../files/linkedin_color.svg") no-repeat;
          background-size: 20px 20px;
          transition: background 0.2s ease;
        }
      }
    }
  }

}




@media screen and (max-width: 930px) {

  #features{
    .container{
      padding-bottom: 100px;
      min-width: 550px;
      .features{
        min-width: 550px;
        display: none;
        .feature{
          width:20%;
          margin-bottom: 60px;
          img{
            width: 180px;
          }
          h2{
            font-size: 22px;
          }
        }
      }
    }
  }

  #edulastic, #glider, #spaces{
    padding-top: 150px !important;
    margin-bottom: 0px !important;
  }

  #spaces{
    .product-slider{
      bottom: auto;
    }
    .container{
      .slider{
        padding-top: 200px;
      }
    }
  }

  #glider{

    .wrapper{
      width: 100%;
      height: 100%;
      top: 0 !important;
      left: 0 !important;
    }

    .slide{
      width: 700px;
      &.third{
        img{
          margin-right: auto;
          height:100%;
        }
      }
    }

    .product-slider img{
      height: 100%;
    }

    ul{
      padding-top: 120px;
    }
  }

  .button{
    margin: auto;
  }
  .product-slider{
    position: absolute;
    margin-top: 150px !important;
    top: 150px !important;
    left: 0px !important;
    right: 0px !important;
    margin: auto !important;
    width: 700px !important;
    height: 400px;
    .wrapper{
      width: 485px;
      height: 284px;
      top: 46px;
      left: 109px;
    }
  }
  .product-text{
    margin-top: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px !important;
    .wrapper{
      margin: auto;
      padding-top: 30px;
    }
    ul{
      margin-top: 460px !important;
      padding-top: 30px;
      li{
        float: left;
        width: 33.33%;
        text-align: center;
      }
    }
      h2{
        margin-top: 0 !important;
        text-align: center;
      }
      p{
        text-align: center !important;
        border: none !important;
      }
    }


  #team {
    .container{
      min-width: 450px;
    }
    .flex-team{
      .member,.join{
        width: 33.3333%;
      }
    }
  }
  #partners{
    .container{
      min-width: 450px;
      .testimonial{
        margin-top: 60px;
        .face{
          display:none;
        }
        .quote{
          max-width: 100%;
          margin: 0px;
          .face-mobile{
            display:initial;
            height: 50px;
            width: 50px;
            float:left;
            margin-top: -15px;
            img{
              width:50px;
            }
          }
          p{
            margin-bottom: 50px;
          }
          p.partner{
            margin: 30px 0px 50px 70px;
          }
        }
      }
      .partner-logos{
        margin-bottom: 20px;
        .column.second{
          img{
            max-height:55px;
          }
        }
        .column.fourth{
          img{
            max-height: 55px;
          }
        }

      }
    }
  }

  #footer{
    .container{
      min-width: 450px;
      form, .contact-details{
        width:100%;
        padding:0px;
      }
      form{
        border-right: none;
      }
    }
  }
}
@media screen and (min-width: 930px) and (max-width: 1150px){
  #team .flex-team{
    .member,.join{
      width: 25%;
    }
    .member-hover{
      &.show-description{
        .detail-desc,.detail-desc p{
          font-size: 13px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) and (max-width: 1800px){
  #team .flex-team{
    .member,.join{
      width: calc( 100% / 6 );
    }
    .member-hover{
      &.show-description{
        .detail-desc,.detail-desc p{
          font-size: 15px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 1801px) {
  #team .flex-team{
    .member,.join{
      width: calc( 100% / 7 );
    }
    .member-hover{
      &.show-description{
        .detail-desc,.detail-desc p{
          font-size: 16px !important;
        }
      }
    }
  }
}
