body{
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: #F9F9FF;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section{
  width:100%;
  position: relative;
  background: whitesmoke;
  overflow: hidden;
}

@import "particles.less";

.container{
  max-width: 1000px;
  margin: auto;
  height: 100%;
  position: relative;
  padding: 0px 40px;
  border: 1px solid rgba(255, 0, 0, 0);

}
.right{
  float:right;
  right:0;
}

@-webkit-keyframes SlideInDown {
  0% {
    transform: translate3d(0px, 20px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.header{
  position: absolute;
  width:100%;
  z-index: 100;
  .logo{
    width: 160px;
    height: 42px;
    background: url('/files/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 30px;
    animation: SlideInDown 1s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
  }
  a{
    display:block;
    float:right;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
  }
}
#intro{
  height: 100vh;
  //height: calc(~"100vh - 80px");
  .intro{
    margin-top: 35vh;
    max-width: 630px;
    h1{
      font-size: 55px;
      font-weight: 900;
      line-height: 71px;
      color:white;
      display: inline;
      white-space: pre-wrap;
      margin-bottom: 0px;
      background: rgba(1, 5, 35, 0.55);
      padding: 4px 0px;
      animation: SlideInDown 1s;
      animation-delay: 0.2s;
      animation-fill-mode: both;
    }
    p{
      font-size: 23px;
      line-height: 45px;
      letter-spacing: 0.5px;
      font-weight: 100;
      background: rgba(1, 5, 35, 0.55);
      display: inline;
      white-space: pre-wrap;
      border: 10px solid rgba(1, 5, 35, 0);
      color: rgba(255, 255, 255, 0.68);
      animation: SlideInDown 1s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }
  }
}
#features{
  height: 850px;
  padding-top: 50px;
  .container{
    height:auto;
    margin-bottom: 60px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 17px;
    font-weight: 100;
  }
  p{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 90px;
    .feature{
      width:28%;
      min-width: 240px;
      text-align: center;
      img{
        width: 250px;
      }
      h3{
        margin-top: 34px;
        margin-bottom: 10px;
        font-size: 25px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        opacity: 0.8;
      }
    }
  }
}
#products{
  .products-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    &.bg-green{
      background:
        /* url("/files/pattern1.png"),*/
        linear-gradient(-123deg, #006C72 0%, #04ED61 99%);

    }
    &.bg-purple{
      background:
      /* url("/files/pattern3.png"),*/
      linear-gradient(-123deg, #043261 0%, #00B4F9 99%);
    }
    &.bg-orange{
      background:
      /* url("/files/pattern2.png"),*/
      linear-gradient(-123deg, #D85609 0%, #93B702 99%);
    }
  }

  h2{
    font-size: 40px;
    color:white;
    margin-bottom: 0px;
    margin-top: 10vh;
  }

  p{
    color: white;
    font-size: 20px;
    opacity: 0.7;
    margin-top: 0px;
  }

  .product{
    height: 100vh;
    min-height: 700px;
    position: relative;
  }

  #edulastic, #glider, #spaces{
    margin-bottom: 200px;
  }
  .button{
    color: white;
    width: 150px;
    border-radius: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid white;
  }

  .product-text{
    width: 350px;
    margin-top: 26vh;
    ul{
      color: white;
      font-size: 18px;
      letter-spacing: 0.5px;
      list-style: none;
      padding-left: 5px;
      line-height: 36px;

      li{
        opacity: 0.5;
        transition: 0.3s ease;
        cursor: pointer;
        display: block;
        &::before{
          content: "";
          float: left;
          width: 10px;
          height: 10px;
          margin-top: 12px;
          margin-right: 10px;
          border-radius: 30px;
          border: 1px solid white;
          transition: 0.5s ease;
        }
      }
      li.active{
        opacity: 1;

        &::before{
          background: white;
        }
      }
    }
    p{
      color: white;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
    }
    .wrapper{
      width: 350px;
      overflow: hidden;
      border-left: 2px solid rgba(255, 255, 255, 0.31);
      margin-bottom: 30px;
      .text-slider{
        width: 1200px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        p{
          display: block;
          max-width: 320px;
          float: left;
          margin-right: 40px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.5px;
          font-weight: 400;
          margin: 0 10px;
          color: white;
          padding-left: 10px;
          transition: 0.5s ease;
        }
        }
      }
    }
  }
  .product-slider{
    top: 30vh;
    position: absolute;
    left: 360px;
    background: url("/files/laptop-full.png") no-repeat;
    background-size: 100%;
    width: 1060px;
    height: 580px;
    z-index: 0;
    pointer-events: none;
    &.left{
      right: 350px;
      left: auto;
    }
    .wrapper{
      height: 430px;
      width: 734px;
      position: absolute;
      top: 70px;
      left: 165px;
      overflow: hidden;
      .slide-container{
        width: 3000px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        height: 415px;
        float: left;
        .slide{
          display: block;
          float: left;
          margin-right: 40px;
          transition: 0.5s ease;
          img{
            height: 430px;
            width: 735px;
          }
        }
      }
    }
  }

#edulastic.stage1{
  .text-slider{transform: translateX(0px) !important;}
  .slide-container{transform: translateX(0px) !important;}
  .first{opacity: 1;}
  .second{opacity: 0;}
  .third{opacity: 0;}
}
#edulastic.stage2{
  .text-slider{transform: translateX(-350px) !important;}
  .slide-container{transform: translateX(-750px) !important;}
  .first{opacity: 0;}
  .second{opacity: 1;}
  .third{opacity: 0;}
}
#edulastic.stage3{
  .text-slider{transform: translateX(-700px) !important;}
  .slide-container{transform: translateX(-1500px) !important;}
  .first{opacity: 0;}
  .second{opacity: 0;}
  .third{opacity: 1;}
}

#glider{
  .product-slider{
    background: none;
    top: 0vh;

    .wrapper{
      height: auto;
      width: auto;
    }
    .slide-container{
      height: auto;
    }

    img{
      width: auto;
      height: 800px;
    }
  }
}

#team{
  //height: 750px;
  .container{
    height:auto;
    margin-bottom: 60px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  p{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .flex-team{
    display: block;
    //flex-flow: row wrap;
    .member,.join{
      width: 20%;
      position: relative;
      overflow: hidden;
      float: left;
    }
    .join{
      img{
        width:100%;
        height:auto;
      }
      a{
        color: white;
        font-weight: 600;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 20px;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    .member{
      img{
        width:100%;
        height:auto;
        transition: 0.3s ease;
        -webkit-filter: saturate(0%);
      }

      &:hover{
        .member-hover{
          opacity: 1;
        }

        img{
          transform: scale(1.1);
          -webkit-filter: saturate(100%);
        }
      }
      .member-hover{
        position: absolute;
        width: 100%;
        height: 100px;
        /* border: 1px solid yellow; */
        z-index: 3;
        background-color: rgba(234, 67, 54, 0.5);
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: 0.3s ease;
        .top{
          position: absolute;
          box-sizing: border-box;
          top: 10px;
          left: 10px;
          padding: 10px;
          p{
            color: white;
            text-align: left;
            font-weight: 400;
            font-size:14px;
          }
        }
        .bottom{
          position: absolute;
          bottom: 10px;
          left: 10px;
          box-sizing: border-box;
          padding: 10px;
          h3{
            font-size: 28px;
            color: white;
            margin-bottom: 5px;
            line-height: 0.9;
          }
          p{
            font-weight: 400;
            color: white;
            text-align: left;
            font-size: 16px;
          }
        }
        .member-info{
          display: block;
          position: absolute;
          height: 30px;
          width: 30px;
          background-color: aqua;
          right: 20px;
          top: 20px;
        }

      }
    }
  }
}
#partners{
  .container{
    height:auto;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  p{
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  hr{
    width: 65%;
    margin: 20px auto 60px;
    border: 0;
    border-top: 1px solid #E6E6E6;
  }
  .testimonial{
    min-height: 100px;
    display: block;
    margin-bottom: 40px;
    .face{
      height: 100;
      width: 100px;
      display: block;
      float: left;
      img{
        width: 100px;
      }
    }
    .quote{
      display: block;
      float: left;
      max-width: 80%;
      margin-left: 44px;
      margin-top: 9px;
      p.partner{
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        margin-top: 10px;
        span{
          font-size: 14px;
          font-weight: 400;
          color: #504E4E;
        }
      }
    }
  }
  .partner-logos{
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 80px;
    .column{
      position: relative;
      text-align: center;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 25%;
      box-sizing: border-box;
      &.first{
        text-align: left;
        img{
          margin-top: 5px;
        }
      }
      &.second{
        img{
          max-height:100px;
        }
      }
      &.third{
        img{
          margin-top: 5px;
        }
      }
      &.fourth{
        text-align: right;
        img{
          height:100px;
          }
      }
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}
#footer{
  background-color: #EA4336;
  .container{
    height:auto;
    h2{
      text-align: center;
      font-size: 50px;
      margin-top: 80px;
      margin-bottom: 60px;
      color:white;
    }
    h3{
      color: white;
      font-size: 30px;
      display: block;
      width: auto;
      float: left;
      margin-top: auto;
      margin-right: 40px;
    }
    form, .contact-details{
      width: 50%;
      display: block;
      float: left;
      box-sizing: border-box;
    }
    form{
      padding-right: 40px;
      border-right: 1px solid #C3362B;
      .top-row{
        .office{
          height: 40px;
          margin-bottom: 20px;
          box-sizing: border-box;
          select{
            display: block;
            height: 34px;
            border: 2px solid #fff;
            color: #fff;
            background: 0 0;
            font-size: 16px;
            float:right;
            font-weight: 600;
          }
        }
      }
      .input-row{
        display: inline-block;
        width:100%;
        .name, .email{
          display: block;
          float: left;
          width: 50%;
          box-sizing: border-box;
          input{
            height: 34px;
            font-size: 14px;
            padding-left: 15px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 6px;
            width: 100%;
          }
        }
        .name{
          padding-right: 10px;
        }
        .email{
          padding-left: 10px;
        }
      }
      .message{
        display: block;
        box-sizing: border-box;
        padding-top: 20px;
        margin-bottom: 30px;
        textarea{
          width: 100%;
          height: 100px;
          padding-left: 15px;
          padding-top: 7px;
          font-size: 14px;
          color: #555;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 6px;
        }
      }
      button{
        border: 2px solid #fff;
        color: #fff;
        background: 0 0;
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
        float:right;
        padding: 6px 34px;
      }
    }
    .contact-details{
      padding-left: 40px;
      h3{
        width:100%;
      }
      h4{
        color:white;
        font-size: 22px;
        font-weight: 600;
        margin:auto;
        margin-bottom: 10px;
      }
      a{
        color: #6D1D17;
        font-size: 14px;
        &.address{
          text-decoration: none;
        }
      }
      p{
        color: #6D1D17;
        font-size: 14px;
        margin: auto;
      }
      p.title{
        margin: auto;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #84231B;
        &.small{
          font-size: 16px;
          margin-top: 20px;
        }
      }
      .us, .india{
        box-sizing: border-box;
        float: left;
      }
      .us{
        width:40%;
        padding-right: 15px;
      }
      .india{
        width: 60%;
        padding-left: 15px;
      }
    }
    .copyright{
      width: auto;
      display: block;
      float: right;
      font-size: 12px;
      margin-top: 60px;
      margin-bottom: 10px;
      color: #84231B;
      p{
        margin:auto;
      }
    }
    .social{
      width: auto;
      display: block;
      float: left;
      margin-top: 60px;
      margin-bottom: 10px;
      a{
        display: block;
        float:left;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
      }
      a.fb{
        background: url("../files/facebook.svg") no-repeat;
        background-size: 15px 15px;
      }
      a.tw{
        background: url("../files/twitter.svg") no-repeat;
        background-size: 16px 16px;
        margin-right: 7px;
      }
      a.in{
        background: url("../files/linkedin.svg") no-repeat;
        background-size: 15px 15px;
      }
    }
  }

}




@media screen and (max-width: 930px) {
  .product-slider{
    display: flex;
    justify-content: center;
    top: 10vh !important;
    transform: scale(0.8);
  }

  #team .flex-team .member{
    width: 33.3333%;
  }
  .product-text{
    margin-top: 60vh !important;
  }
}
