body{
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: #F9F9FF;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section{
  width:100%;
  position: relative;
  background: whitesmoke;
  overflow: hidden;
}

@import "particles.less";

.container{
  max-width: 1000px;
  margin: auto;
  height: 100%;
  position: relative;
  padding: 0px 40px;
  border: 1px solid rgba(255, 0, 0, 0);
}
.right{
  float:right;
  right:0;
}

.header{
  position: absolute;
  width:100%;
  z-index: 100;
  .logo{
    width: 160px;
    height: 42px;
    background: url('/files/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  a{
    display:block;
    float:right;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
  }
}
#intro{
  height: 100vh;
  //height: calc(~"100vh - 80px");
  border: 1px solid black;
  .intro{
    margin-top: 35vh;
    max-width: 600px;
    h1{
      font-size: 55px;
      font-weight: 900;
      line-height: 1;
      color:white;
      margin-bottom: 20px;
    }
    p{
      font-size: 23px;
      line-height: 1.4;
      letter-spacing: 0.5px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
#features{
  height: 850px;
  padding-top: 50px;
  .container{
    height:auto;
    margin-bottom: 60px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 17px;
    font-weight: 100;
  }
  p{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 90px;
    .feature{
      width:28%;
      min-width: 240px;
      text-align: center;
      img{
        width: 250px;
      }
      h3{
        margin-top: 34px;
        margin-bottom: 10px;
        font-size: 25px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        opacity: 0.8;
      }
    }
  }
}
#products{
  .products-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    &.bg-green{
      background-image: linear-gradient(-123deg, #006C72 0%, #04ED61 99%);
    }
    &.bg-purple{
      background: linear-gradient(-123deg, #000407 0%, #124188 99%);
    }
    &.bg-orange{
      background: linear-gradient(-123deg, #D85609 0%, #93B702 99%);
    }
  }

  h2{
    font-size: 40px;
    color:white;
    margin-bottom: 0px;
    margin-top: 10vh;
  }

  p{
    color: white;
    font-size: 20px;
    opacity: 0.7;
    margin-top: 0px;
  }

  .product{
    height: 100vh;
    min-height: 700px;
    position: relative;
    padding-bottom: 100px;
  }

  .button{
    color: white;
    width: 150px;
    border-radius: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid white;
  }

  .product-text{
    width: 350px;
    margin-top: 26vh;
    ul{
      color: white;
      font-size: 18px;
      letter-spacing: 0.5px;
      list-style: none;
      padding-left: 5px;
      line-height: 36px;

      li{
        opacity: 0.5;
        transition: 0.3s ease;
        cursor: pointer;
        &::before{
          content: "";
          float: left;
          width: 10px;
          height: 10px;
          margin-top: 12px;
          margin-right: 10px;
          border-radius: 30px;
          border: 1px solid white;
          transition: 0.5s ease;
        }
      }
      li.active{
        opacity: 1;

        &::before{
          background: white;
        }
      }
    }
    p{
      color: white;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
    }
    .wrapper{
      width: 350px;
      overflow: hidden;
      border-left: 2px solid rgba(255, 255, 255, 0.31);
      margin-bottom: 30px;
      .text-slider{
        width: 1200px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        p{
          display: block;
          max-width: 320px;
          float: left;
          margin-right: 40px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.5px;
          font-weight: 400;
          margin: 0 10px;
          color: white;
          padding-left: 10px;
          transition: 0.5s ease;
        }
        }
      }
    }
  }
  .product-slider{
    top: 30vh;
    position: absolute;
    left: 360px;
    background: url("/files/laptop-full.png") no-repeat;
    background-size: 100%;
    width: 930px;
    height: 580px;
    z-index: 0;
    pointer-events: none;
    &.left{
      right: 350px;
      left: auto;
    }
    .wrapper{
      height: 376px;
      width: 644px;
      position: absolute;
      top: 62px;
      left: 145px;
      overflow: hidden;
      .slide-container{
        width: 3000px;
        transform: translateX(0px);
        transition: 0.5s cubic-bezier(0.85, 0.13, 0.1, 0.99);
        height: 415px;
        float: left;
        .slide{
          display: block;
          float: left;
          margin-right: 40px;
          transition: 0.5s ease;
          img{
            height: 415px;
            width: 708px;
          }
        }
      }
    }
  }

#edulastic.stage1{
  .text-slider{transform: translateX(0px) !important;}
  .slide-container{transform: translateX(0px) !important;}
  .first{opacity: 1;}
  .second{opacity: 0;}
  .third{opacity: 0;}
}
#edulastic.stage2{
  .text-slider{transform: translateX(-350px) !important;}
  .slide-container{transform: translateX(-750px) !important;}
  .first{opacity: 0;}
  .second{opacity: 1;}
  .third{opacity: 0;}
}
#edulastic.stage3{
  .text-slider{transform: translateX(-700px) !important;}
  .slide-container{transform: translateX(-1500px) !important;}
  .first{opacity: 0;}
  .second{opacity: 0;}
  .third{opacity: 1;}
}

#glider{
  .product-slider{
    background: none;
    top: 0vh;

    .wrapper{
      height: auto;
      width: auto;
    }
    .slide-container{
      height: auto;
    }

    img{
      width: auto;
      height: 800px;
    }
  }
}

#team{
  height: 750px;
  .container{
    height:auto;
    margin-bottom: 60px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  p{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 100;
    color: #49494A;
  }
  .flex-team{
    display: block;
    //flex-flow: row wrap;
    .member{
      width: 20%;
      position: relative;
      overflow: hidden;
      float: left;
      img{
        width:100%;
        height:auto;
      }
      .member-hover{
        position: absolute;
        width: 100%;
        height: 100%;
        /* border: 1px solid yellow; */
        z-index: 3;
        background-color: aqua;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
