include ./includes/head.jade

.header
  .logo
  a(href="#footer") Contact

section#intro
  .particles
    #particles-js

    .fadeIn E=mc²
    .fadeIn Σ
    .fadeIn p = mv
    .fadeIn ∫
    .fadeIn ½
    .fadeIn ≥
    .fadeIn cos(x)
    .fadeIn ±
    .fadeIn Φ
    .fadeIn K = ½mv²
    .fadeIn Ψ
    .fadeIn ∂
    .fadeIn sin(x)
    .fadeIn E=mc²
    .fadeIn Σ
    .fadeIn p = mv
    .fadeIn ∫
    .fadeIn ½
    .fadeIn ≥
    .fadeIn cos(x)
    .fadeIn ±
    .fadeIn Φ
    .fadeIn K = ½mv²
    .fadeIn Ψ
    .fadeIn ∂
    .fadeIn sin(x)

    
  .container(style="pointer-events: none;")
    .intro
      h1  Personalized Learning <br> Powered by Science  
      p &nbsp;&nbsp;Effective teaching platforms based on &nbsp;<br> &nbsp;&nbsp; machine learning for students &nbsp;<br> &nbsp;&nbsp; from Kindergarten to college and beyond.

section#features
  .container
    h2 Tailor-made at Every Stage
    p Snapwiz apps build mastery of key skills and concepts – from college and career readiness standards in K-12 schools through higher education courses and skills needed by professionals on the job.
    .flex-container
      .feature
        img(src="files/k12.png")
        h3 K-12
        p Edulastic, a next-generation assessment tool, provides critical insight into student understanding for K-12 teachers and education leaders.
      .feature
        img(src="files/university.png")
        h3 Higher Education
        p Learning Spaces extends learning beyond the lecture hall, through interactive textbooks, course communication, adaptive practice and assessment.
      .feature
        img(src="files/professional.png")
        h3 Professional
        p Glider, an assessment and career-planning app, effectively matches professionals with jobs based on skills competency.
              
section#products
  .products-bg.bg-orange
  .products-bg.bg-purple
  .products-bg.bg-green
  
  
  .product#edulastic.stage1
    .container  
      .product-text.right
        h2 Edulastic-test
        p Adaptive learning is an educational method
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p.first Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p.second Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p.third Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
        .button Learn more
      .product-slider.left
        .wrapper
          .slide-container
            .slide.first
              img(src="files/orion1.jpg")
            .slide.second
              img(src="files/orion1.jpg")
            .slide.third
              img(src="files/orion1.jpg")  
  
  .product#glider.stage1
    .container
      .product-text.left   
        h2 Glider App
        p Adaptive learning is an educational method
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
    
      .product-slider.right
        .wrapper
          .slide-container
            .slide
              img(src="files/glider.png")
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            
  .product#spaces.stage1
    .container
      .product-text   
        h2 Learning Spaces
        p Adaptive learning is an educational method
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
    
      .product-slider
        .wrapper
          .slide-container
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")       

section#team
  .container
    h2 Snapwiz Team
    p At Snapwiz, we create and deliver personalized learning experiences. We acknowledge and celebrate the fact that every learner is different, so we craft custom learning paths for individuals based on their strengths and weaknesses.
  .flex-team
    .member
      img(src="../files/team/6.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.in(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .member
      img(src="../files/team/3.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.in(href="www.twitter.com")
        .bottom
          h3 Satish Kumar
          p COO & Co-Founder
    .member
      img(src="../files/team/9.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Aditya Agarkar
          p VP of Product & Co-Founder      
    .member
      img(src="../files/team/8.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Leslie Tyler
          p VP of Marketing
    .member
      img(src="../files/team/4.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Sriram Cherukuri
          p Director of Technology
    .member
      img(src="../files/team/7.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Samba Potla
          p Director of Engineering
    .member
      img(src="../files/team/5.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Lawrence Chernin
          p Senior Director, Data Science
    .member
      img(src="../files/team/1.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Samarth Upponi
          p Senior Product Manager
    .member
      img(src="../files/team/2.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Jordan Taylor
          p Marketing Associate
    .member
      img(src="../files/team/1.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Tim Sitar
          p Curriculum Advisor
    .member
      img(src="../files/team/3.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .member
      img(src="../files/team/4.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .join
      img(src="../files/team/join.png")
      a(href="") + Join Snapwiz
    
section#partners
  .container
    h2 Partnerships
    .testimonial
      .face
        img(src="../files/partner.png")
      .quote 
        p "Learning Space, created by the Snapwiz-Wiley partnership, will change the way we think about digital learning. For great ideas and creative energy, we like working with Snapwiz."
        p.partner 
          | Peter Booth Wiley, 
          span Chairman of the Board, Partner
    hr
    .partner-logos
      .column.first
        img(src="../files/wiley.png")
      .column.second 
        img(src="../files/mgh.png")
      .column.third
        img(src="../files/dummies.png")  
      .column.fourth
        img(src="../files/barrons.png")
      
section#footer
  .container
    h2 Get in Touch
    form
      .top-row
        h3 Tell us all
        .office
          select
            option U.S. Office
            option India Office
      .input-row
        .name
          input#exampleInputName2(type='text', placeholder='Full Name:')
        .email
          input#exampleInputEmail1(type='email', placeholder='Email:')
      .message
        textarea(rows='5', placeholder='Message:')
      button.btn(type='submit') Submit
    .contact-details
      h3 Locations
      .us
        h4 United States
        p.title Snapwiz Inc.
        a.address(href="") 39300 Civic Center Drive, Suite 220 Fremont, CA 94538 U.S.A
        p.title.small Phone
        p (510) 509 9806
        p.title.small Email
        a(href="mailto:support@edulastic.com") info@snapwiz.com
      .india
        h4 India
        p.title Snapwiz Edutec India Ltd.
        a.address(href="") 4th Floor, Krimson Square, 31/9, Hosur Rd, #613935 Elevated Expressway, Roopena Agrahara, HSR Layout, Bengaluru, Karnataka 560068
        p.title.small Phone
        p +91 80-65836677 / 88
        p.title.small Email
        a(href="mailto:support@edulastic.com") info@snapwiz.com
    .copyright
      p © Snapwiz Inc. 2016
    .social
      a.fb(href="www.facebook.com")
      a.tw(href="www.twitter.com")
      a.in(href="www.linkedin.com")

script(src='js/jquery.scrolling.js')
script(src='js/main.js')
