include ./includes/head.jade

.header
  .logo
  a(href="#footer") Contact

section#intro
  .particles
    #particles-js

    .fadeIn E=mc²
    .fadeIn Σ
    .fadeIn p = mv
    .fadeIn ∫
    .fadeIn ½
    .fadeIn ≥
    .fadeIn cos(x)
    .fadeIn ±
    .fadeIn Φ
    .fadeIn K = ½mv²
    .fadeIn Ψ
    .fadeIn ∂
    .fadeIn sin(x)
    .fadeIn E=mc²
    .fadeIn Σ
    .fadeIn p = mv
    .fadeIn ∫
    .fadeIn ½
    .fadeIn ≥
    .fadeIn cos(x)
    .fadeIn ±
    .fadeIn Φ
    .fadeIn K = ½mv²
    .fadeIn Ψ
    .fadeIn ∂
    .fadeIn sin(x)

    
  .container
    .intro
      h1 Personalized Learning <br> Powered by Science
      p Effective teaching platforms based on machine learning for students from Kindergarten to college and beyond.

section#features
  .container
    h2 Areas of Focus
    p Snapwiz learning platforms help K-12 educators deliver personalized instruction, gauge student understanding and communicate more effectively with students and parents.
    .flex-container
      .feature
        img(src="files/k12.png")
        h3 K-12
        p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.
      .feature
        img(src="files/university.png")
        h3 University
        p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.
      .feature
        img(src="files/professional.png")
        h3 Professional
        p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.
              
section#products
  .products-bg.bg-orange
  .products-bg.bg-purple
  .products-bg.bg-green
  
  
  .product#edulastic.stage1
    .container
    
      .product-text
        #color-marker1
        h2 Edulastic
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
    
      .product-slider
        .wrapper
          .slide-container
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")  
  
  .product#glider.stage1
    .container
    
      .product-text.right
        h2 Glider App
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
    
      .product-slider.left
        .wrapper
          .slide-container
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            
  .product#spaces.stage1
    .container
    
      .product-text
        h2 Learning Spaces
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
    
      .product-slider
        .wrapper
          .slide-container
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")
            .slide
              img(src="files/orion1.jpg")       

section#team
  .container
    h2 Snapwiz Team
    p At Snapwiz, we create and deliver personalized learning experiences. We acknowledge and celebrate the fact that every learner is different, so we craft custom learning paths for individuals based on their strengths and weaknesses.
    .flex-container
      .feature
      .feature
    
section#partners

section#footer

script(src='js/jquery.scrolling.js')
script(src='js/main.js')
