include ./includes/head.jade

.header
  .logo
  a(href="#footer") Contact
  link(href='https://file.myfontastic.com/Qh2Yd7nY2iGk7L36kiNZw8/icons.css', rel='stylesheet')
section#intro
  .particles
    #particles-js

    .fadeIn.beta(data-icon='a')
    .fadeIn.square(data-icon='b')
    .fadeIn.script(data-icon='c')
    .fadeIn.chemo(data-icon='d')
    .fadeIn.brakets(data-icon='e')
    .fadeIn.clmn(data-icon='f')
    .fadeIn.epsi(data-icon='g')
    .fadeIn.f(data-icon='h')
    .fadeIn.i(data-icon='i')
    .fadeIn.log(data-icon='j')
    .fadeIn.minus(data-icon='k')
    .fadeIn.l(data-icon='l')
    .fadeIn.percent(data-icon='m')
    .fadeIn.pi(data-icon='n')
    .fadeIn.plus(data-icon='o')
    .fadeIn.w(data-icon='r')
    .fadeIn.var(data-icon='s')
    .fadeIn.j(data-icon='t')
    .fadeIn.lamb(data-icon='u')
    .fadeIn.sin(data-icon='v')
    .fadeIn.formula(data-icon='w')
    .fadeIn.om(data-icon='x')
    .fadeIn.cos(data-icon='y')
    .fadeIn.divs(data-icon='z')
    .fadeIn.elem(data-icon='B')
    .fadeIn.acc(data-icon='D')
    .fadeIn.d(data-icon='E')


    
  .container(style="pointer-events: none;")
    .intro
      h1  Personalized Learning <br> Powered by Science  
      p &nbsp;&nbsp;Effective teaching platforms based on &nbsp;<br> &nbsp;&nbsp; machine learning for students &nbsp;<br> &nbsp;&nbsp; from Kindergarten to college and beyond.

section#features
  .container
    h2 Tailor-made at Every Stage
    p Snapwiz apps build mastery of key skills and concepts – from college and career readiness standards in K-12 schools through higher education courses and skills needed by professionals on the job.
    .features
      .feature
        img(src="files/k12.png")
        h3 K-12
        p Edulastic, a next-generation assessment tool, provides critical insight into student understanding for K-12 teachers and education leaders.
      .feature
        img(src="files/university.png")
        h3 Higher Education
        p Learning Spaces extends learning beyond the lecture hall, through interactive textbooks, course communication, adaptive practice and assessment.
      .feature
        img(src="files/professional.png")
        h3 Professional
        p Glider, an assessment and career-planning app, effectively matches professionals with jobs based on skills competency.
              
section#products
  .products-bg.bg-orange
  .products-bg.bg-purple
  .products-bg.bg-green
  
  
  .product#edulastic.stage1
    .container  
      .product-slider.left
        .wrapper
          .slide-container
            .slide.first
              img(src="files/edulastic_interactive_questions2.gif")
            .slide.second
              img(src="files/edulastic_actionable_data2.jpg")
            .slide.third
              img(src="files/edulastic_expert_ass.jpg")  
      .product-text.right
        h2 Edulastic
        p Next-generation assessment for K-12
        ul  
          li.link1.active  Interactive Questions 
          li.link2  Actionble Data 
          li.link3  Expert Assessments
        .wrapper
          .text-slider
            p.first Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
            p.second Instant scoring saves grading time so you can monitor struggling students, make the right remediation moves and measure growth toward CCSS-mastery throughout the year.
            p.third Choose from our bank of more than 20,000 questions, created by Edulastic experts and well-known publishers, or create your own and share with other teachers in your school or district.
        a.button(href="http://www.edulastic.com/") Learn more
      
  
  .product#glider.stage1
    .container
      .product-slider.right
        .wrapper
          .slide-container
            .slide.first
              img(src="files/glider_ass.png")
            .slide.second
              img(src="files/glider_candidate.png")
            .slide.third
              img(src="files/glider.png")
                    
      .product-text.left   
        h2 Glider App
        p Adaptive learning is an educational method
        ul  
          li.link1.active  Holistic Assessments 
          li.link2  Automated Candidate Sourcing 
          li.link3  Talent Development
        .wrapper
          .text-slider
            p Competency-driven assessments provide insight not only into candidates’ job skills, but soft skills and cultural fit too.
            p Artificial Intelligence based matching technology locates the best talent and match for the job, and a streamlined hiring workflow significantly reduces time-to-fill.
            p Customized training programs deliver immediately productive new hires and keep your existing team sharp and engaged.
    
      
            
  .product#spaces.stage1
    .container
      .product-slider.left
        .wrapper
          .slide-container
            .slide.first
              img(src="files/ls_analytics.jpg")
            .slide.second
              img(src="files/ls_interactive_ebooks.png")
            .slide.third
              img(src="files/learning_spaces_360.jpg")  
      .product-text.right
        h2 Learning Spaces
        p Immersive, adaptive courses for higher education
        ul  
          li.link1.active  Intuitive Analytics
          li.link2  Interactive eTextbooks 
          li.link3  360° Collaboration
        .wrapper
          .text-slider
            p Instructors see real-time performance data. An instant overview of student progress and proficiency helps pinpoint areas of strength and areas of concern.
            p Students get a contextualized and adaptive learning experience that helps them navigate texts, create and organize their study plan, and participate in lively discussions with their instructor and the entire class. Instructors collaborate with one another on course content—sharing the best curriculums and methodologies in an open repository.
            p Students collaborate with their instructors and the entire class, which boosts student engagement and productivity. Instructors can craft and share with their peers multi-faceted lesson plans that encourage students to showcase their ideas and thoughts while they learn.
    
           

section#team
  .container
    h2 Snapwiz Team
    p At Snapwiz, we create and deliver personalized learning experiences. We acknowledge and celebrate the fact that every learner is different, so we craft custom learning paths for individuals based on their strengths and weaknesses.
  .flex-team
    .member
      img(src="../files/team/6.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.in(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .member
      img(src="../files/team/3.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.in(href="www.twitter.com")
        .bottom
          h3 Satish Kumar
          p COO & Co-Founder
    .member
      img(src="../files/team/9.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Aditya Agarkar
          p VP of Product & Co-Founder      
    .member
      img(src="../files/team/8.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Leslie Tyler
          p VP of Marketing
    .member
      img(src="../files/team/4.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Sriram Cherukuri
          p Director of Technology
    .member
      img(src="../files/team/7.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Samba Potla
          p Director of Engineering
    .member
      img(src="../files/team/5.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Lawrence Chernin
          p Senior Director, Data Science
    .member
      img(src="../files/team/1.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Samarth Upponi
          p Senior Product Manager
    .member
      img(src="../files/team/2.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Jordan Taylor
          p Marketing Associate
    .member
      img(src="../files/team/1.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Tim Sitar
          p Curriculum Advisor
    .member
      img(src="../files/team/3.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .member
      img(src="../files/team/4.jpg")
      .member-hover
        .member-info
        .member-social
          a.fb(href="www.facebook.com")
          a.tw(href="www.twitter.com")
        .bottom
          h3 Madhu Narasa
          p CEO & Co-Founder
    .join
      img(src="../files/team/join.png")
      a(href="") + Join Snapwiz
    
section#partners
  .container
    h2 Partnerships
    .testimonial
      .face
        img(src="../files/partner.png")
      .quote 
        p "Learning Space, created by the Snapwiz-Wiley partnership, will change the way we think about digital learning. For great ideas and creative energy, we like working with Snapwiz."
        .face-mobile
          img(src="../files/partner.png")
        p.partner 
          | Peter Booth Wiley, 
          span Chairman of the Board, Partner
    hr
    .partner-logos
      .column.first
        img(src="../files/wiley.png")
      .column.second 
        img(src="../files/mgh.png")
      .column.third
        img(src="../files/dummies.png")  
      .column.fourth
        img(src="../files/barrons.png")
      
section#footer
  .container
    h2 Get In Touch
    form#contactUsForm(action='/mail/send.php', method='post')
      #loader.hidden
        .box
          .border.one
          .border.two
          .border.three
          .border.four
          .line.one
          .line.two
          .line.three
      .top-row
        h3 We'd love to hear from you
      .input-row
        .name
          input#senderName(required='', type='text', placeholder='Full Name:', name='name')
        .email
          input#senderEmail(required='', type='email', placeholder='Email:', name='email')
      .message
        textarea#senderMsg(required='', rows='5', placeholder='Message:', name='msg')
      button.btn(type='submit') Submit
    .contact-details
      h3 Locations
      .us
        h4 US
        p.title Snapwiz Inc.
        a.address(href="") 39300 Civic Center Drive, Suite 220 Fremont, CA 94538 U.S.A
        p.title.small Phone
        p (510) 509 9806
        p.title.small Email
        a(href='mailto:hello@snapwiz.com') hello@snapwiz.com
      .india
        h4 India
        p.title Snapwiz Edutec India Ltd.
        a.address(href="") 4th Floor, Krimson Square, 31/9, Hosur Rd, #613935 Elevated Expressway, Roopena Agrahara, HSR Layout, Bengaluru, Karnataka 560068
        p.title.small Phone
        p +91 80-65836677 / 88
        p.title.small Email
        a(href='mailto:hello@snapwiz.com') hello@snapwiz.com
    .copyright
      p © Snapwiz Inc. 2016
    .social
      a.fb(href="https://www.facebook.com/snapwiz/")
      a.tw(href="https://twitter.com/snapwiz")
      a.in(href="https://www.linkedin.com/company/snapwiz")

script(src='js/jquery.scrolling.js')
script(src='js/main.js')
